% ------- %
% - JOB - %
% ------- %

Job: "VBS_SemiLep_aQGC_FT0"
	BlindingThreshold: 0.1
	CmeLabel: "13 TeV"
	GetChi2: True
	ReadFrom: NTUP
	NtuplePaths: /data/atlas/salin/VBS_mc/Intern/Run2/2L/NTuples
	NtupleName: "reco"
	MCweight: "weight_total_NOSYS"
	ImageFormat: pdf, png
	Label: "VBS Semi 2L"
	LegendNColumns: 1
	LegendX1: 0.6
	Lumi: 1
	LumiLabel: "140 fb^{-1}"
	OVERSIGSCALE: 10
	PlotOptions: YIELDS,"NORMSIG %", CHI2
	POI: FT0
	RatioYmax: 2
	RatioYmin: 0
	StatOnly: True
	SummaryLogY: True
	%BlindSRs: True




% ------- %
% - FIT - %
% ------- %


Fit: "fit"
	FitBlind: TRUE
	FitRegion: CRSR
	FitType: SPLUSB
  POIAsimov: 0.0
	UseMinos: "FT0"
  doLHscan: FT0
  LHscanMin: -0.4
  LHscanMax: 0.4
  LHscanSteps: 51
	SetRandomInitialNPval: 0.1
	SetRandomInitialNPvalSeed: 1234567



% --------------- %
% ---- LIMIT ---- %
% --------------- %

Limit: limit
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE
  %SignalInjection: TRUE
  %SignalInjectionValue: XXX
  LimitPlot: TRUE

% ---------------------- %
% ---- SIGNIFICANCE ---- %
% ---------------------- %
Significance: Significance
  SignificanceType: ASYMPTOTIC
  SignificanceBlind: TRUE
  SignificancePlot: TRUE

% ----------- %
% - REGIONS - %
% ----------- %


Region: "TwoLep_SR_HP_mVV"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "VVSystem_m_NOSYS",8,0,8000
  Binning: 0,500,1000,1500,2000,2500,3000,8000
  VariableTitle: "m_{VV} [GeV]"
  Selection: "pass_3VarsBosonTagger50_NOSYS"
  Label: "mVV_SR_HP"
  ShortLabel: mVV_SR_HP
  LogScale: True

Region: "TwoLep_SR_LP_mVV"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "VVSystem_m_NOSYS",8,0,8000
  Binning: 0,500,1000,1500,2000,2500,3000,8000
  VariableTitle: "m_{VV} [GeV]"
  Selection: "(!pass_3VarsBosonTagger50_NOSYS) && pass_3VarsBosonTagger80_NOSYS"
  Label: "mVV_SR_LP"
  ShortLabel: mVV_SR_LP
  LogScale: True

Region: "TwoLep_ZCR"
	Type: CONTROL
  DataType: ASIMOV
	Variable: "mjj_NOSYS",6,400,5000
	VariableTitle: "m_{jj} [GeV]"
	Binning: 400,600,1000,1400,1800,2500,5000
  Selection: "!(pass_3VarsBosonTagger50_NOSYS || pass_3VarsBosonTagger80_NOSYS)"
  Label: "Z+jets CR"
  ShortLabel:ZCR



% ----------- %
% - SAMPLES - %
% ----------- %


%Sample: "data"
%  Title: Data
%  Type: DATA
%  NtupleFile: data

Sample: "Zjets"
  Title: Z+jets
  Type: BACKGROUND
  NtupleFile: Zjets
  FillColor: 862
  LineColor: 862

Sample: "QCDVV"
  Title: QCD-VV
  Type: BACKGROUND
  NtupleFile: QCDVV
  FillColor: 921
  LineColor: 921

Sample: "Top"
  Title: Top
  Type: BACKGROUND
  NtupleFile: Top
  FillColor: 797
  LineColor: 797

Sample: "Wjets"
  Title: W+jets
  Type: BACKGROUND
  NtupleFile: Wjets
  FillColor: 419
  LineColor: 419


Sample: "aQGC_FT0"
  Title: "FT0 QUAD"
  Type: SIGNAL
  NtupleFile: aQGC_FT0
  FillColor: 7
  LineColor: 7


Sample: "Signal"
  Title: "EWK VVjj"
  Type: BACKGROUND
  NtupleFile: Signal
  FillColor: 633
  LineColor: 633


% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "FT0"
	Max: 3
	Min: -3
	Nominal: 0.0
  Samples: NONE
	Title: "f_{T0}"


NormFactor: "FT0_QUAD"
	Max: 10
	Min: 0
	Nominal: 0.0
	Samples: aQGC_FT0
  Expression: (FT0*FT0):FT0[0.0,-3,3]
	Title: "f_{T0} QUAD"




% --------------- %
% - SYSTEMATICS - %
% --------------- %

