% ------- %
% - JOB - %
% ------- %

Job: "Yields_VBS_SemiLep_aQGC_FT0"
	BlindingThreshold: 0.1
	CmeLabel: "13 TeV"
	GetChi2: True
	ReadFrom: NTUP
	NtuplePaths: /data/atlas/salin/VBS_mc/Intern/Run2/2L/NTuples
  NtupleName: "reco"
	MCweight: "weight_total_NOSYS"
	ImageFormat: pdf, png
	Label: "VBS Semi 2L"
	LegendNColumns: 1
	LegendX1: 0.6
	Lumi: 1
	LumiLabel: "140 fb^{-1}"
	OVERSIGSCALE: 10
	PlotOptions: YIELDS,"NORMSIG %", CHI2
	POI: FT0
	RatioYmax: 2
	RatioYmin: 0
	StatOnly: True
	SummaryLogY: True
	%BlindSRs: True




% ------- %
% - FIT - %
% ------- %


Fit: "fit"
	FitBlind: TRUE
	FitRegion: CRSR
	FitType: SPLUSB
  POIAsimov: 1.0
	UseMinos: "FT0"
  doLHscan: FT0
  LHscanMin: -0.6
  LHscanMax: 0.6
  LHscanSteps: 51
	SetRandomInitialNPval: 0.1
	SetRandomInitialNPvalSeed: 1234567



% --------------- %
% ---- LIMIT ---- %
% --------------- %

Limit: limit
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE
  %SignalInjection: TRUE
  %SignalInjectionValue: XXX
  LimitPlot: TRUE

% ---------------------- %
% ---- SIGNIFICANCE ---- %
% ---------------------- %
Significance: Significance
  SignificanceType: ASYMPTOTIC
  SignificanceBlind: TRUE
  SignificancePlot: TRUE

% ----------- %
% - REGIONS - %
% ----------- %

Region: "TwoLep_NoTagger_mVV"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "VVSystem_m_NOSYS",8,0,8000
  Binning: 0,500,1000,1500,2000,2500,3000,8000
  VariableTitle: "m_{VV} [GeV]"
  Selection: ""
  Label: "mVV_SR_HP"
  ShortLabel: mVV_SR_HP
  LogScale: True


Region: "TwoLep_NoTagger_ljet_leading_m"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "ljet_leading_m_NOSYS",20,0,200
  VariableTitle: "m_{J} [GeV]"
  Selection: ""
  Label: "NoTagger_ljet_m"
  ShortLabel: NoTagger_ljet_m
  LogScale: True

Region: "TwoLep_NoTagger_LeadingTagJet_pt"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "LeadingTagJet_pt_NOSYS",20,30,2000
  VariableTitle: "p_{T,j1} [GeV]"
  Selection: ""
  Label: "NoTagger_j1_pt"
  ShortLabel: NoTagger_j1_pt
  LogScale: True

Region: "TwoLep_NoTagger_SubLeadingTagJet_pt"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "SubLeadingTagJet_pt_NOSYS",20,30,600
  VariableTitle: "p_{T,j2} [GeV]"
  Selection: ""
  Label: "NoTagger_j2_pt"
  ShortLabel: NoTagger_j2_pt
  LogScale: True

Region: "TwoLep_NoTagger_TagJetsDeltaEta"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "TagJetsDeltaEta_NOSYS",20,-8,8
  VariableTitle: "\Delta\eta_{jj}"
  Selection: ""
  Label: "NoTagger_deta_jj"
  ShortLabel: NoTagger_deta_jj
  LogScale: True

Region: "TwoLep_NoTagger_Njets"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "Njets_NOSYS",10,2,15
  VariableTitle: "N_{j}"
  Selection: ""
  Label: "NoTagger_njets"
  ShortLabel: NoTagger_njets
  LogScale: True

Region: "TwoLep_SR_HP_mVV"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "VVSystem_m_NOSYS",8,0,8000
  Binning: 0,500,1000,1500,2000,2500,3000,8000
  VariableTitle: "m_{VV} [GeV]"
  Selection: "pass_3VarsBosonTagger50_NOSYS"
  Label: "mVV_SR_HP"
  ShortLabel: mVV_SR_HP
  LogScale: True


Region: "TwoLep_SR_LP_mVV"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "VVSystem_m_NOSYS",8,0,8000
  Binning: 0,500,1000,1500,2000,2500,3000,8000
  VariableTitle: "m_{VV} [GeV]"
  Selection: "(!pass_3VarsBosonTagger50_NOSYS) && pass_3VarsBosonTagger80_NOSYS"
  Label: "mVV_SR_LP"
  ShortLabel: mVV_SR_LP
  LogScale: True

Region: "TwoLep_ZCR"
	Type: CONTROL
  DataType: ASIMOV
	Variable: "mjj_NOSYS",6,400,5000
	VariableTitle: "m_{jj} [GeV]"
	Binning: 400,600,1000,1400,1800,2500,5000
  Selection: "!(pass_3VarsBosonTagger50_NOSYS || pass_3VarsBosonTagger80_NOSYS)"
  Label: "Z+jets CR"
  ShortLabel:ZCR



% ----------- %
% - SAMPLES - %
% ----------- %


#Sample: "data"
#  Title: Data
#  Type: DATA
#  NtupleFile: data

Sample: "Zjets"
  Title: Z+jets
  Type: BACKGROUND
  NtupleFile: Zjets
  FillColor: 862
  LineColor: 862

Sample: "QCDVV"
  Title: QCD-VV
  Type: BACKGROUND
  NtupleFile: QCDVV
  FillColor: 921
  LineColor: 921

Sample: "Top"
  Title: Top
  Type: BACKGROUND
  NtupleFile: Top
  FillColor: 797
  LineColor: 797

Sample: "Wjets"
  Title: W+jets
  Type: BACKGROUND
  NtupleFile: Wjets
  FillColor: 419
  LineColor: 419


Sample: "aQGC_FT0"
  Title: "FT0 QUAD"
  Type: SIGNAL
  NtupleFile: aQGC_FT0
  FillColor: 7
  LineColor: 7


Sample: "Signal"
  Title: "EWK VVjj"
  Type: BACKGROUND
  NtupleFile: Signal
  FillColor: 633
  LineColor: 633


% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "FT0"
	Max: 3
	Min: 0
	Nominal: 1.0
  Samples: NONE
	Title: "#mu(FT0)"


NormFactor: "FT0_QUAD"
	Max: 10
	Min: -10
	Nominal: 0.0
	Samples: aQGC_FT0
  Expression: (FT0*FT0):FT0[0.0,-1,1]
	Title: "FT0 QUAD"



% --------------- %
% - SYSTEMATICS - %
% --------------- %

